@using SecureParcel.Resources
@{ 
    var CurrentUrl_Last = HttpContext.Current.Request.Url.Segments[2];
    //var CurrentUrl_Last = HttpContext.Current.Request.Url.Segments.Last();
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>CS.Parcels</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="keywords" content="">
    <link rel="shortcut icon" href="/img/favicon/favicon_dhl.ico?ads" type="image/x-icon">

    <link href="~/css/main.css?v30" rel="stylesheet" />

    <script src="~/js/libs.min.js"></script>
    <script src="~/js/jquery.validate.min.js"></script>
    <script src="~/js/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
</head>
<body>

    <section class="header">
            <div class="nav-menu-one">
                <div class="wrapper">
                    <div class="main-menu container flex row">
                        <div class="logoBox">
                            <a class="logo" href="/Home/Index"><img src="/img/Logo_Cr.png" alt="Credits Logo" /><img src="/img/dhl.png" alt="DHL Logo" /><div class="lablo">@Resource.Nav_Escrow &nbsp;delivery&nbsp;service</div></a>
                            @*<a class="logo" href="/Home/Index"><img src="/img/AllShipments/Logo-CS-PARSELS.png" alt="Alternate Text" /></a>*@
                        </div>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <div class="btn-account-ProfileBox">
                                <div class="text">
                                    <div>You are signed in:</div>
                                    <div class="text-red">Donald Trump</div>
                                </div>
                                <div class="btn-account-Profile">
                                    <div class="textBox">
                                        <div class="text">Account</div>
                                        <div class="imgBox Account_arrow"><img src="~/img/AllShipments/Account_arrow.png" alt="Alternate Text" /></div>
                                    </div>

                                    <div class="dropmenu-accountBox">
                                        <div class="textBox">
                                            <a href="/Home/ProfileAccount" class="text">Profile</a>
                                            <div class="imgBox"><img src="~/img/AllShipments/User.png" alt="Alternate Text" /></div>
                                        </div>
                                        <hr />
                                        <div class="textBox">
                                            <a href="/Account/LogOff" class="text">Log out</a>
                                            <div class="imgBox"><img src="~/img/AllShipments/Log_Out.png" alt="Alternate Text" /></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        else
                        {
                            if (ViewBag.ThisShipments_FixLayout == true)
                            {

                            }
                            else
                            {
                    <div class="header__nav header__nav--main">
                        <a class="header__nav-link text" href="#list">Main</a>
                        <span> | </span>
                        <a class="header__nav-link text" href="#why">Why us?</a>
                        <span> | </span>
                        <a class="header__nav-link text" href="#trace">Advantages</a>
                        <span> | </span>
                        <a class="header__nav-link text" href="#management">About us</a>
                    </div>
                            }

                        }
                    </div>
                </div>
            </div>

        
        @if (ViewBag.ThisShipments_FixLayout == true)
        {
            var asdf = HttpContext.Current.Request.Url.Segments.Last();
            <div class="nav-menu-two">
                <div class="wrapper">
                    <div class="Shipments-menu container flex">
                        <div class="left flex">
                            <div class="item item-1 flex @(CurrentUrl_Last == "AllShipments" ? "active" : null)">
                                <div class="qube-red"><img src="~/img/AllShipments/qube-red.png" alt="Alternate Text" /></div>
                                <a href="/Home/AllShipments">All Shipments</a>
                            </div>
                            <div class="item item-1 flex @(CurrentUrl_Last == "SentShipment_Demo" || CurrentUrl_Last == "SentShipment_Demo_2" || CurrentUrl_Last == "SentShipment_Demo_3" || CurrentUrl_Last == "SentShipment_Demo_4" ? "active" : null)">
                                <div class="qube-red"><img src="~/img/AllShipments/monitor-red.png" alt="Alternate Text" /></div>
                                <a href="/Home/SentShipment_Demo">Demo</a>
                            </div>
                        </div>
                        <div class="right flex">
                            <a href="/Home/SentShipment_send" class="btn-red">Sent Shipment</a>
                        </div>
                    </div>
                </div>
            </div>

        }

    </section>

    @RenderBody()

    <section class="footer">
        <div class="container">
            <p class="text--white text--small" style="text-align: center;">2019 © DHL International GmbH. All rights reserved.</p>
        </div>
    </section>

    <div class="modal flex jcc aic modal--success is-hidden">
        <div class="modal__wrapper">
            <div class="modal__close">  <img src="/img/icon-close.svg" alt="Close"></div>
            <p class="text--middle text--red text-center">Sending parcel <span>No. 7432981309141893 </span>successfully added!</p><a class="button button--red button--big modal__button-small" href="">OK</a>
        </div>
    </div>

    <div class="modal flex jcc aic modal--form is-hidden">
        <form id="parcelForm" class="modal__wrapper">
            <div class="modal__close">  <img src="/img/icon-close.svg" alt="Close"></div>
            <p class="text--middle text--red modal__header" id="header">Создание новой отправки</p>
            <div class="modal__form-field flex row jcsb">
                <div class="modal__column">
                    <div class="modal__row flex row jcsb">
                        <p class="text--middle">Sender</p>
                        <div class="modal__col">
                            <div class="modal__field flex column">
                                <label for="name">Full name*:</label>
                                <input type="text" value="Антон Павлович Шпак" name="senderName" id="sender-name">
                            </div>
                            <div class="modal__field flex column">
                                <label for="key">Public key*:</label>
                                <input type="text" value="jfds7v980vdf896sd0s0vcxv9fs8y7" name="senderPublicKey" id="sender-public-key">
                            </div>
                            <div class="modal__field flex column">
                                <label for="address">Address*:</label>
                                <input type="text" value="г. Красногорск, бульвар Строителей, д. 4, корп. 1, кв 49" name="senderAddress" id="sender-address">
                            </div>
                        </div>
                    </div>
                    <div class="modal__row flex row jcsb">
                        <p class="text--middle">Payment</p>
                        <div class="modal__col">
                            <div class="modal__inner-row flex row jcsb">
                                <div class="modal__inner-field flex column">
                                    <label for="payment">Amount, (CS)*:</label>
                                    <input type="text" value="700" name="amount" id="amount">
                                </div>
                                <div class="modal__inner-field flex column input-group">
                                    <label for="date">Date:</label>
                                    <div class="paid-div">
                                        <input type="text" value="Не оплачено" disabled="disabled" id="date-payment">
                                        <div class="input-group-append paid-div-btn">
                                            <button class="btn btn-outline-secondary paid-btn" type="button">Pay now</button>
                                        </div>
                                    </div>                                    
                                </div>
                            </div>
                            <div class="modal__field flex column">
                                <label for="account">Account number*:</label>
                                <input type="text" value="jfds7v980vdf896sd0s0vcxv9fs8y7" name="accountNumber" id="account">
                            </div>
                        </div>
                    </div>
                    <div class="modal__row flex row jcsb">
                        <p class="text--middle">Note</p>
                        <div class="modal__col">
                            <div class="modal__field flex column">
                                <label for="comment">Comment:</label>
                                <textarea type="text" id="comment"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal__column">
                    <div class="modal__row flex row jcsb">
                        <p class="text--middle">Recipient</p>
                        <div class="modal__col">
                            <div class="modal__field flex column">
                                <label for="name">Full name*:</label>
                                <input type="text" value="Антон Павлович Шпак" name="recipientName" id="recipient-name">
                            </div>
                            <div class="modal__field flex column">
                                <label for="key">Public key*:</label>
                                <input type="text" value="jfds7v980vdf896sd0s0vcxv9fs8y7" name="recipientPublicKey" id="recipient-public-key">
                            </div>
                            <div class="modal__field flex column">
                                <label for="address">Address*:</label>
                                <input type="text" value="г. Красногорск, бульвар Строителей, д. 4, корп. 1, кв 49" name="recipientPublicKey" id="recipient-address">
                            </div>
                        </div>
                    </div>
                    <div class="modal__row flex row jcsb">
                        <p class="text--middle">Delivery</p>
                        <div class="modal__col">
                            <div class="modal__inner-row flex row jcsb">
                                <div class="modal__inner-field flex column">
                                    <label for="status">Status:</label>
                                    <input type="text" value="Не отправлено" disabled="disabled" id="status">
                                </div>
                                <div class="modal__inner-field flex column">
                                    <label for="date">Date:</label>
                                    <input type="text" value="Не оплачено" disabled="disabled" id="date-delivery">
                                </div>
                            </div>
                            <div class="modal__field flex column">
                                <label for="track">Track number*:</label>
                                <input type="text" value="23718923173616723651723 81237" name="track" id="track">
                            </div>
                        </div>
                    </div>
                    <div class="modal__row flex column aife">
                        <input class="button button--red button--big modal__button-big" id="save-button" type="submit" value="Send parcel">
                    </div>
                </div>
            </div>

            @if (User.IsInRole("Admin"))
            {
                <button onclick="changeStatus(1)">1. Awaiting payment</button>
                <button onclick="changeStatus(2)">2. Preparation for shipment</button>
                <button onclick="changeStatus(3)">3. Parcel sent</button>
                <button onclick="changeStatus(4)">4. Awaiting receipt</button>
                <button onclick="changeStatus(5)">5. Received</button>
                <button onclick="deleteParcel()">Delete</button>
            }
        </form>
    </div>

    <script>
        function togglero() {
            $('.hidden').toggle(0);
            if ($('.hidden').css('display') == "block") {
                $('#tuglu').html('Hide');
            } else if ($('.hidden').css('display') == "none") {
                $('#tuglu').html('Continue reading');
            }
        }
    </script>
    <script src="/js/main.js?v22"></script>
</body>
</html>