
@{
    ViewBag.Title = "AllShipments";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<section class="Shipments flex" id="main">
    <div class="wrapper">
        <div class="Shipments-content mb-35">
            <div class="line border-bottom-red">
                <h2 class="Shipments-title">
                    История отправки
                </h2>
            </div>

            <div class="row-box line flex">
                <div>ID</div>
                <div>Дата</div>
                <div>Стоимость</div>
                <div>Статус</div>
                <div>Кому / От кого</div>
                <div></div>
            </div>
            <div class="row-box line flex from">
                <div>1</div>
                <div>26.02.2019</div>
                <div>532 cs</div>
                <div>Success</div>
                <div>from Michail Bulgarin</div>
                <div class="arrow-box"><div class="arrow"></div></div>
            </div>
            <div class="row-box line flex to">
                <div>2</div>
                <div>26.02.2019</div>
                <div>532 cs</div>
                <div>Success</div>
                <div>to Michail Bulgarin</div>
                <div class="arrow-box"><div class="arrow"></div></div>
            </div>
            <div class="row-box line flex to">
                <div>3</div>
                <div>26.02.2019</div>
                <div>532 cs</div>
                <div>Success</div>
                <div>to Michail Bulgarin</div>
                <div class="arrow-box"><div class="arrow"></div></div>
            </div>
            <div class="row-box line flex to">
                <div>4</div>
                <div>26.02.2019</div>
                <div>532 cs</div>
                <div>Success</div>
                <div>to Michail Bulgarin</div>
                <div class="arrow-box"><div class="arrow"></div></div>
            </div>
            <div class="row-box line flex from">
                <div>5</div>
                <div>26.02.2019</div>
                <div>532 cs</div>
                <div>Success</div>
                <div>from Michail Bulgarin</div>
                <div class="arrow-box"><div class="arrow"></div></div>
            </div>
            <div class="row-box line flex to">
                <div>6</div>
                <div>26.02.2019</div>
                <div>532 cs</div>
                <div>Success</div>
                <div>to Michail Bulgarin</div>
                <div class="arrow-box"><div class="arrow"></div></div>
            </div>
            <div class="row-box line flex from">
                <div>7</div>
                <div>26.02.2019</div>
                <div>532 cs</div>
                <div>Success</div>
                <div>from Michail Bulgarin</div>
                <div class="arrow-box"><div class="arrow"></div></div>
            </div>
            <div class="row-box line flex to">
                <div>8</div>
                <div>26.02.2019</div>
                <div>532 cs</div>
                <div>Success</div>
                <div>to Michail Bulgarin</div>
                <div class="arrow-box"><div class="arrow"></div></div>
            </div>
            <div class="row-box line flex from">
                <div>9</div>
                <div>26.02.2019</div>
                <div>532 cs</div>
                <div>Success</div>
                <div>from Michail Bulgarin</div>
                <div class="arrow-box"><div class="arrow"></div></div>
            </div>
            <div class="row-box line flex to">
                <div>10</div>
                <div>26.02.2019</div>
                <div>532 cs</div>
                <div>Success</div>
                <div>to Michail Bulgarin</div>
                <div class="arrow-box"><div class="arrow"></div></div>
            </div>
            <div class="row-box line flex from">
                <div>11</div>
                <div>26.02.2019</div>
                <div>532 cs</div>
                <div>Success</div>
                <div>from Michail Bulgarin</div>
                <div class="arrow-box"><div class="arrow"></div></div>
            </div>
            <div class="row-box line flex to">
                <div>12</div>
                <div>26.02.2019</div>
                <div>532 cs</div>
                <div>Success</div>
                <div>to Michail Bulgarin</div>
                <div class="arrow-box"><div class="arrow"></div></div>
            </div>
        </div>
    </div>

</section>*@



