
@{
    ViewBag.Title = "ProfileAccount";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<section class="Shipments flex" id="main">
    <div class="wrapper">
        <div class="line border-bottom-red">
            <h2 class="Shipments-title">
                Мой профиль
            </h2>
        </div>
        <div class="Shipments-content mt-25 mb-35">

            <form action="/Home/ProfileAccount" method="post">
                <div class="line flex">
                    <div class="input-box flex column">
                        <label class="label">Name</label>
                        <input type="text" name="name" value="" class="input"/>
                    </div>
                    <div class="input-box flex column">
                        <label class="label">E-mail</label>
                        <input type="email" name="email" value="" class="input"/>
                    </div>
                </div>
                <div class="line flex">
                    <div class="input-box flex column">
                        <label class="label">Last name</label>
                        <input type="text" name="last_name" value="" class="input"/>
                    </div>
                    <div class="input-box flex column">
                        <div class="label">Public key:</div>
                        <div class="input text">jfds7v980vdf896sd0s0vcxv934dsfs8y7sasfsada232131sdssd</div>
                    </div>
                </div>
                <div class="line flex button-box">
                    <div class="btn-edit">
                        <img src="~/img/AllShipments/edit-white.png" alt="Alternate Text" />
                        <span>Edit</span>
                    </div>
                    <div class="btn-save">
                        <span>Save</span>
                    </div>
                </div>
            </form>



        </div>
    </div>

</section>*@



