
@{
    ViewBag.Title = "SentShipment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<section class="Shipments flex" id="main">
    <div class="wrapper mb-135">
        <div class="line border-bottom-red">
            <h2 class="Shipments-title">
                Create a new shipment
            </h2>
        </div>
        <div class="Shipments-content mt-25 mb-35 border-bottom-gray">
            <div class="line line-indent-55 flex">
                <div class="left flex SenderReceiver">
                    <div>Sender</div>
                    <div>
                        <p>Name*:</p>
                        <p>Антон Павлович Шпак</p>
                        <p>Public Key*:</p>
                        <p class="gray-text">jfds7v980vdf896sd0s0vcxv9fs8y7</p>
                        <p>Address*:</p>
                        <p class="gray-text">г. Красногорск, бульвар Строителей, д. 4, корп. 1, кв 49</p>
                    </div>
                </div>
                <div class="right flex SenderReceiver">
                    <div>Receiver</div>
                    <div>
                        <p>Name*:</p>
                        <p>Антон Павлович Шпак</p>
                        <p>Public Key*:</p>
                        <p class="gray-text">jfds7v980vdf896sd0s0vcxv9fs8y7</p>
                        <p>Address*:</p>
                        <p class="gray-text">г. Красногорск, бульвар Строителей, д. 4, корп. 1, кв 49</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="Shipments-content mt-25 mb-35 border-bottom-gray">
            <div class="line line-indent-55 flex">
                <div class="left flex SenderReceiver PaymentDelivery">
                    <div>Payment</div>
                    <div>
                        <p>Cost , (cs)*:</p>
                        <p>700</p>
                        <p>Invoice*:</p>
                        <p class="gray-text">jfds7v980vdf896sd0s0vcxv9fs8y7</p>
                    </div>
                    <div>
                        <p>Date of payment*:</p>
                        <p>Not paid</p>
                        <a href="javascript:void(0);" class="Shipments-btn btn-ToPay">Оплатить</a>
                    </div>
                </div>

                <div class="right flex SenderReceiver PaymentDelivery">
                    <div>Delivery</div>
                    <div>
                        <p>Delivery Status:</p>
                        <p>Not Delivered</p>
                        <p>Tracking number:</p>
                        <p class="gray-text">23718923173616723651723 81237</p>
                    </div>
                    <div>
                        <p>Date of departure:</p>
                        <p>Delivery failure</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="Shipments-content mt-25 mb-35">
            <div class="line line-indent-55 flex">
                <div class="left flex SenderReceiver PaymentDelivery">
                    <div>More information</div>
                    <div>
                        <p>Comments:</p>
                        <p>Calculation of cost and registration of an order</p>
                    </div>
                </div>

                <div class="right flex btn-Close-box ">
                    <a href="javascript:void(0);" class="Shipments-btn btn-Close">Close</a>
                </div>
            </div>
        </div>

    </div>

</section>*@


