a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline
}

.slick-slide img,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}

body {
    font-family: 'Avant';
    font-size: 16px;
    line-height: 1.3;
    color: #444;
    position: relative;
}

ol,
ul {
    list-style: none
}

blockquote,
q {
    quotes: none
}

    blockquote:after,
    blockquote:before,
    q:after,
    q:before {
        content: none
    }

table {
    border-collapse: collapse;
    border-spacing: 0
}

/*img {
    width: 100%
}*/

.flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}

.row,
.row-reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row
}

.row-reverse {
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse
}

.column,
.column-reverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column
}

.column-reverse {
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse
}

.aic {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

.aifs {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start
}

.aife {
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end
}

.jcc {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center
}

.jcsb {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.jcsa {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around
}

.jcse {
    -webkit-box-pack: space-evenly;
    -webkit-justify-content: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly
}

.jcfe {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end
}

.fww {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.mx5 {
    margin-right: 5px;
    margin-left: 5px
}

.my5 {
    margin-top: 5px;
    margin-bottom: 5px
}

.mx10 {
    margin-right: 10px;
    margin-left: 10px
}

.my10 {
    margin-top: 10px;
    margin-bottom: 10px
}

.mt5 {
    margin-top: 5px !important
}

.mt10 {
    margin-top: 10px !important
}

.mt15 {
    margin-top: 15px !important
}

.mt20 {
    margin-top: 20px !important
}

.mt30 {
    margin-top: 30px !important
}

.mb5 {
    margin-bottom: 5px !important
}

.mb10 {
    margin-bottom: 10px !important
}

.mb15 {
    margin-bottom: 15px !important
}

.mb20 {
    margin-bottom: 20px !important
}

.mb30 {
    margin-bottom: 30px !important
}

.mr5 {
    margin-right: 5px !important
}

.mr10 {
    margin-right: 10px !important
}

.mr15 {
    margin-right: 15px !important
}

.mr20 {
    margin-right: 20px !important
}

.mr30 {
    margin-right: 30px !important
}

.ml5 {
    margin-left: 5px !important
}

.ml10 {
    margin-left: 10px !important
}

.ml15 {
    margin-left: 15px !important
}

.ml20 {
    margin-left: 20px !important
}

.ml30 {
    margin-left: 30px !important
}

.pt5 {
    padding-top: 5px !important
}

.pt10 {
    padding-top: 10px !important
}

.pt15 {
    padding-top: 15px !important
}

.pt20 {
    padding-top: 20px !important
}

.pt30 {
    padding-top: 30px !important
}

.pr30 {
    padding-right: 30px !important
}

.pl30 {
    padding-left: 30px !important
}

.text-center {
    text-align: center;
    display: block
}

@font-face {
    font-family: 'Avant';
    src: url("/fonts/Avant Garde.woff2") format("woff2");
    font-weight: 400;
    font-style: normal
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.section {
    min-height: 755px;
    padding: 177px 0 0
}

.section--table {
    padding: 0
}

.title {
    font-size: 48px
}

.title--red {
    color: #cc0202
}

.title--grey {
    color: #e9e9e9
}

.text {
    text-decoration: none;
    color: #444;
    font-size: 15px
}

.text--small {
    font-size: 14px
}

.text--white {
    color: #fff
}

.text--red {
    color: #cc0202
}

.text--uppercase {
    text-transform: uppercase
}

.table table thead tr th,
.text--bold {
    font-weight: 700
}

.button {
    text-decoration: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    border: 0;
    cursor: pointer
}

    .button:hover {
        -webkit-filter: brightness(130%);
        filter: brightness(130%)
    }

.button--big {
    min-width: 398px;
    height: 38px;
    font-size: 20px;
    line-height: 1.7
}

.button--small {
    font-size: 14px;
    padding: 5px 15px
}

.button--red {
    background-color: #cc0202;
    color: #fff
}

    .button--red:hover {
        background-color: #fff;
        color: #cc0202;
        box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.25);
    }

.button--grey {
    background-color: #bdbdbd;
    color: #444
}

    .button--grey:hover {
        background-color: #444;
        color: #bdbdbd
    }

.button--border-red {
    border: #cc0202 solid 1px;
    color: #cc0202
}

    .button--border-red:hover {
        background-color: #cc0202;
        color: #fc0
    }

.button--middle {
    width: 125px;
    height: 30px;
    font-size: 14px;
}

.slick-list,
.slick-slider {
    position: relative;
    display: block
}

.slick-slider {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent
}

.slick-list {
    overflow: hidden;
    margin: 0;
    padding: 0
}

    .slick-list:focus {
        outline: 0
    }

    .slick-list.dragging {
        cursor: pointer;
        cursor: hand
    }

.slick-slider .slick-list,
.slick-slider .slick-track {
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}

.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;
    margin-left: auto;
    margin-right: auto
}

    .slick-track:after,
    .slick-track:before {
        content: "";
        display: table
    }

    .slick-track:after {
        clear: both
    }

.slick-loading .slick-track {
    visibility: hidden
}

.slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
    display: none
}

[dir=rtl] .slick-slide {
    float: right
}

.slick-slide.slick-loading img {
    display: none
}

.slick-slide.dragging img {
    pointer-events: none
}

.slick-initialized .slick-slide {
    display: block
}

.slick-loading .slick-slide {
    visibility: hidden
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent
}

.slick-arrow.slick-hidden {
    display: none
}

.header {
    /*background-color: #fc0;*/
    /*padding: 21px 0 18px;*/
    /*padding: 21px 0 0;*/
    background-color: #FFFFFF;
    position: fixed;
    width: 100%;
    z-index: 99;
    box-shadow: 4px 3px 4px 0px rgba(0,0,0,0.25);
}

.header__nav-link {
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    border-bottom: 1px solid transparent
}

    .header__nav-link:not(:last-child) {
        /*margin-right: 35px*/
        margin-left: 17.5px;
        margin-right: 17.5px;
    }
    .header__nav-link:last-child {
        margin-left: 17.5px;
    }

    .header__nav-link:hover {
        border-bottom: 1px solid #444
    }

.header__nav {
    margin-right: -100px;
    position: relative;
    display: flex;
    align-items: center;
}

.header__nav--main {
    margin-right: 0
}

.header__nav-line {
    position: absolute;
    top: -23px;
    right: 260px;
    height: 73px;
    width: 1px;
    background-color: #cc0202
}

.header__nav-text {
    text-align: right
}

.footer {
    background-color: #444;
    padding: 40px 0
}

.forms {
    /*position: absolute;
    right: 25px;
    top: 150px*/
}

.form {
    width: 448px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #fc0;
    padding: 31px 25px
}

    .form:first-child,
    .form > :first-child {
        margin-bottom: 10px
    }

    .form h2 {
        margin-bottom: 15px
    }

.form__input {
    width: 398px;
    height: 38px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 0;
    outline: 0;
    font-size: 14px;
    margin: 0 0 10px;
    padding: 0 11px
}

.form__field,
.management h1,
.trace h1 {
    margin-bottom: 20px
}

input[type=checkbox],
label {
    position: relative;
    cursor: pointer
}

    input[type=checkbox]:before {
        width: 15px;
        height: 15px;
        background: #fff;
        content: '';
        display: block;
        margin: 0 6px 0 0;
        padding: 2px 0 0 1px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        position: absolute;
        top: -2px;
        left: -3px
    }

    input[type=checkbox]:checked:before {
        content: url(../img/check.svg)
    }

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(95, 92, 92, .7);
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}

.modal__wrapper {
    background-color: #fff;
    position: relative;
    width: 1298px;
    margin: 0 auto;
    padding: 36px
}

.modal__close {
    width: 16px;
    position: absolute;
    top: 37px;
    right: 37px;
    cursor: pointer
}

.modal__button-small {
    margin: 34px auto 0
}

.modal__button-big {
    width: 415px;
    margin-top: 94px
}

.modal__header {
    padding-bottom: 10px;
    border-bottom: 1px solid #cc0202
}

.modal__column {
    width: 600px
}

    .modal__column > :not(:last-child) {
        border-bottom: 1px solid #e5e5e5
    }

.modal__row {
    margin-top: 32px
}

.modal__inner-row {
    margin-bottom: 12px
}

.modal__inner-field {
    width: 163px
}

.modal__field {
    width: 415px;
    margin-bottom: 12px
}

    .modal__field input,
    .modal__field textarea,
    .modal__inner-field input,
    .modal__inner-field textarea {
        width: 100%;
        background-color: #e5e5e5;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        border: 0;
        outline: 0;
        padding: 0 12px;
        font-family: 'Avant';
        font-weight: 400;
        font-size: 14px;
        line-height: 1.1;
        color: #444;
        height: 38px;
    }

    .modal__field textarea,
    .modal__inner-field textarea {
        height: 102px;
        resize: none;
        padding: 5px 12px
    }

    .modal__field label,
    .modal__inner-field label {
        margin-bottom: 3px;
        margin-left: 12px;
        font-size: 14px
    }

.modal__small-button {
    width: 82px !important;
    min-width: 82px !important
}

.is-hidden {
    opacity: 0;
    visibility: hidden
}

.welcome {
    padding: 177px 0 0
}

.welcome__girl {
    max-width: 431px;
    align-self: flex-end;
    line-height: 0;
}

.list {
    padding: 65px 0;
    background-color: #fc0
}

.list__case {
    max-width: 250px;
    text-align: center
}

.trace,
.why {
    padding: 65px 0
}

    .why p {
        margin-top: 20px
    }

    .why .button {
        margin: 50px auto 0;
        width: 398px
    }

.trace {
    background-color: #fc0
}

.trace__wrapper {
    margin-top: 65px
}

.trace__case {
    max-width: 309px
}

    .trace__case > :nth-child(2) {
        margin: 20px 0 20px
    }

.trace__img {
    height: 230px;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center
}

    .trace__img img {
        height: 100%;
        width: auto
    }

.management {
    padding: 65px 0
}

    .management .button {
        margin: 50px auto 0;
        width: 398px
    }

.management__wrapper {
    width: 92%;
    margin: 0 auto
}

.management__slider {
    width: 655px;
    height: 569px;
    margin: 56px auto 0;
    background-image: url(../img/mac.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat
}

.management__slide {
    width: 620px;
    margin: 0 auto;
    padding: 26px 0 0;
    outline: 0
}

    .management__slide img {
        width: 100%;
        height: 338px
    }

.arrow {
    background-color: transparent;
    border: 0;
    outline: 0;
    cursor: pointer;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}

    .arrow:hover {
        -webkit-filter: brightness(190%);
        filter: brightness(190%)
    }

.slick-next,
.slick-prev {
    position: absolute;
    bottom: 83px
}

.slick-next {
    right: -100px
}

.slick-prev {
    left: -100px
}

.table table {
    width: 100%;
    text-align: center;
    font-size: 14px
}

    .table table td,
    .table table th {
        padding: 16px
    }

    .table table thead tr {
        background-color: #e9e9e9
    }

    .table table tbody tr:nth-child(even) {
        background-color: #e9e9e9
    }

.red {
    background-color: #cc0202 !important;
    color: #fff
}

.parcel--reciever {
    padding: 400px 0
}

.parcel__block {
    margin-bottom: 120px;
    padding: 15px 53px;
    border: 1px solid #444;
    width: 200px;
    cursor: pointer;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}

    .parcel__block:hover {
        background-color: rgba(0, 0, 0, .05)
    }

.parcel__block-img {
    width: 71px
}

ul.texter {
    margin-top: 20px
}

.texter li {
    list-style: disc;
    padding-left: 15px;
    margin-left: 20px;
    padding-bottom: 10px;
}

img.imger {
    max-width: 800px;
    display: block;
    margin: 0 auto;
}

.text-center {
    text-align: center;
}

.logo {
    display: flex;
    text-decoration: none;
    align-items: center;
    /*max-width: 570px;*/
    margin-top: 21px;
    margin-bottom: 18px;
}
    .logo img {
        height: auto;
        width: auto;
        width: 130px;
        align-self: center;
        max-width: 100%;
        margin-right: 20px;
    }

.welcome {
    background: url(../img/bg-parcel.jpg);
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
}


.lablo {
    font-weight: 600;
    text-transform: uppercase;
    /*padding-left: 20px;*/
    align-self: center;
    color: #cc0202;
    text-decoration: none;
}

.row-x {
    display: flex;
}

.left {
    flex: 50%;
}

.right {
    flex: 50%;
}

.hidden {
    display: none;
}

.text--red {
    color: #cc0202;
    font-size: 14px;
}

.text--dark {
    color: #444;
    font-size: 14px;
}

.text--rec {
    font-size: 14px;
}

.table-header {
    padding: 24px 0;
    color: #d40511;
    font-size: 28px;
    text-align: center;
    padding-top: 100px;
}

.reciever {
    min-height: 800px
}

    .reciever table {
        width: 100%;
        text-align: center
    }

        .reciever table td,
        .reciever table th {
            padding: 16px
        }

        .reciever table thead tr {
            background-color: #e9e9e9
        }

            .reciever table thead tr th {
                font-weight: 700
            }

        .reciever table tbody tr:nth-child(even) {
            background-color: #e9e9e9
        }

.yellow {
    background-color: #fc0 !important
}

tbody tr:hover {
    cursor: pointer;
    color: white !important;
    background-color: #cc0202 !important;
}

.text--middle {
    font-size: 24px
}

.button--new-parcel {
    background-color: #fc0;
    color: #444;
    transition: all .2s ease-in-out;
    border: 0;
    cursor: pointer;
    width: 205px;
    height: 30px;
    font-family: "Avant", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.1;
}

    .button--new-parcel:hover {
        background-color: #cc0202;
        color: #bdbdbd;
    }

.error {
    color: #cc0202 !important;
}

.paid-div {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-align: stretch;
    align-items: stretch;
    width: 100%;
}

#date-payment {
    position: relative;
    -webkit-box-flex: 1;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0;
}
.dropmenu-accountBox {
    display: none;
    position: absolute;
    top: 35px;
    left: 0;
    background-color: #FFFFFF;
    width: 100%;
    flex-direction: column;
    align-items: flex-end;
}
    .dropmenu-accountBox > * {
        max-width: 100%;
        width: 100%;
    }
    .dropmenu-accountBox hr {
        width: 100%;
        margin: 0;
        border: solid 2px #CC0202;
        box-sizing: border-box;
    }
.btn-account-Profile {
    display: flex;
    width: 150px;
    max-width: 100%;
    height: auto;
    background-color: #CC0202;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 21px;
    margin-bottom: 18px;
}
    .btn-account-Profile .textBox {
        display: inherit;
        justify-content: space-between;
        align-items: center;
        padding: 0 12.5px 0 20px;
        line-height: 33px;
        font-size: 20px;
        color: #000000;
        text-decoration: none;
        box-sizing: border-box;
        width: 100%;
    }
    .btn-account-Profile .dropmenu-accountBox .text {
        color: #CC0202;
    }
    .btn-account-Profile .text {
        font-size: 20px;
        font-weight: 400;
        font-family: "AvantGardeCTT", sans-serif;
        color: #FFFFFF;
    }
    .btn-account-Profile .imgBox {
        margin-left: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0px;
        width: 20px;
        height: 20px;
    }
        .btn-account-Profile .imgBox.Account_arrow {
            align-items: center;
            padding-top: 5px;
        }
            .btn-account-Profile .imgBox.Account_arrow img {
                width: 15px;
            }
            .btn-account-Profile:hover .dropmenu-accountBox, .btn-account-Profile .dropmenu-accountBox:hover {
                display: flex;
            }

    .paid-div-btn {
        margin-left: -1px;
        display: flex;
    }

.paid-btn {
    position: relative;
    z-index: 2;
    cursor: pointer;
}
.link-decor-off{
    text-decoration: none;
    color: inherit;
}





.wrapper {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}

.btn-red {
    background-color: #CC0202;
    width: 400px;
    height: 40px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 400;
    font-family: "AvantGardeCTT", sans-serif;
    text-decoration: none;
}

.qube-red {
    max-height: 31.5px;
    max-width: 29px;
}

    .qube-red img {
        width: 100%;
    }

.account {
    width: 28px;
    height: 28px;
}

    .account img {
        width: 100%;
    }

.Shipments {
    margin-top: 210px;
    margin-bottom: 40px;
}

.Shipments-menu {
    justify-content: space-between;
    align-items: center;
    /*box-shadow: 4px 3px 4px 0px rgba(0,0,0,0.25);
    background-color: #FFFFFF;*/
}

    .Shipments-menu .right {
        justify-content: flex-end;
    }

    .Shipments-menu .item {
        font-size: 18px;
        font-weight: 400;
        align-items: center;
        margin: 0 55px 0 0;
        padding: 20px 0;
        border-bottom: solid 2px transparent;
    }

        .Shipments-menu .item.active {
            border-bottom: solid 2px #CC0202;
        }

            .Shipments-menu .item.active a {
                color: #CC0202;
            }

        .Shipments-menu .item a {
            margin: 0 7px;
            color: #444444;
            text-decoration: none;
        }

.Shipments .Shipments-title {
    font-size: 24px;
    color: #CC0202;
    font-weight: 400;
    font-family: "AvantGardeCTT", sans-serif;
    line-height: 29px;
    margin-bottom: 8px;
}

.Shipments .Shipments-content {
    width: 100%;
}

    .Shipments .Shipments-content .row-box {
        justify-content: space-between;
    }

        .Shipments .Shipments-content .row-box.from:hover, .Shipments .Shipments-content .row-box.to:hover {
            background-color: #CC0202 !important;
            color: #FFFFFF !important;
        }

        .Shipments .Shipments-content .row-box .line div {
            max-width: calc(1440px / 6);
            width: 100%;
            padding: 12.5px 5px;
            box-sizing: border-box;
            text-align: center;
            display: flex;
            justify-content: center;
        }

    .Shipments .Shipments-content img {
        width: auto;
    }

    .Shipments .Shipments-content .row-box:nth-child(2n) {
        background-color: #E9E9E9;
    }

    .Shipments .Shipments-content .row-box:nth-child(1) {
        background-color: #FFFFFF;
    }

.Shipments .row-box.from .arrow-box .arrow {
    transform: rotate(0deg);
    background-repeat: no-repeat;
    background-image: url(/img/AllShipments/arrow-red.png);
}

.Shipments .row-box.to .arrow-box .arrow {
    transform: rotate(180deg);
    background-repeat: no-repeat;
    background-image: url(/img/AllShipments/arrow-red.png);
}

.Shipments .row-box.from:hover .arrow-box .arrow {
    transform: rotate(0deg);
    background-repeat: no-repeat;
    background-image: url(/img/AllShipments/arrow-white.png);
}

.Shipments .row-box.to:hover .arrow-box .arrow {
    transform: rotate(180deg);
    background-repeat: no-repeat;
    background-image: url(/img/AllShipments/arrow-white.png);
}

.Shipments .Shipments-content .row-box .arrow-box .arrow {
    width: 16px;
    height: auto;
    background-size: contain;
}

.line {
    /*padding: 0 80px;*/
    display: flex;
    width: 100%;
}

.border-bottom-red {
    border-bottom: solid 1px #CC0202;
}

.border-bottom-gray {
    border-bottom: 1px solid #E9E9E9;
}

/*  ProfileAccount*/
.Shipments-content .label {
    font-size: 14px;
    color: #444444;
    line-height: 17px;
    margin: 0 15px;
}

.Shipments-content .input-box {
    margin-right: 35px;
    margin-bottom: 10px;
    width: 415px;
    max-width: 100%;
}

.Shipments-content .input {
    background-color: #E9E9E9;
    border: none;
    width: 100%;
    font-size: 14px;
    padding: 9px;
    box-sizing: border-box;
}

    .Shipments-content .input.text {
        background-color: #FFFFFF;
    }

.Shipments-content .button-box {
    justify-content: flex-end;
    margin: 30px 0;
}

    .Shipments-content .button-box .btn-edit, .Shipments-content .button-box .btn-save {
        background-color: #CC0202;
        font-size: 24px;
        color: #FFFFFF;
        line-height: 29px;
        font-family: "AvantGardeCTT", sans-serif;
        padding: 5px 15px;
        text-align: center;
    }

    .Shipments-content .button-box .btn-edit {
        margin-right: 24px;
    }

    .Shipments-content .button-box .btn-save {
        max-width: 100%;
        width: 400px;
    }
/* /ProfileAccount*/

/*  SentShipment*/
.Shipments-content .SenderReceiver{
    padding: 0 0 0 20px;
}
.Shipments-content .SenderReceiver > div:first-child {
    /*margin-right: 56px;*/
    font-size: 24px;
    line-height: 29px;
    font-family: "AvantGardeCTT", sans-serif;
    color: #444444;
    min-width: 120px;
    /*min-width: 145px;*/
}
.Shipments-content .SenderReceiver.left, .Shipments-content .SenderReceiver.right {
    /*margin: 0 20px;*/
}
.Shipments-content .SenderReceiver > div{
    /*margin-right: 20px;*/
    margin-left: 40px;
}
.Shipments-content .SenderReceiver > div:last-child {
    font-size: 14px;
    line-height: 17px;
    font-family: "AvantGardeCTT", sans-serif;
    color: #444444;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

    .Shipments-content .SenderReceiver > div:last-child p, .Shipments-content .SenderReceiver > div:last-child input, .Shipments-content .SenderReceiver > div:last-child textarea {
        margin-bottom: 16px;
    }

.Shipments-content .SenderReceiver .gray-text {
    color: #717171;
}

.Shipments-content p, .Shipments-content input, .Shipments-content textarea {
    font-size: 14px;
    line-height: 17px;
    color: #444444;
    font-family: "AvantGardeCTT", sans-serif;
    margin: 0 0px 16px 0;
    /*margin: 0 40px 16px 0;*/
}

.Shipments-content input, .Shipments-content textarea {
    max-width: 100%;
    width: 100%;
    display: flex;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 2.5px;
}

.btn-ToPay {
    max-width: 135px;
}

.btn-Close-box {
    justify-content: flex-end;
    align-items: flex-end;
    margin-bottom: 16px;
}

a.btn-Close {
    max-width: 100%;
    width: 400px;
    text-align: center;
}
/* /SentShipment*/

/*  SentShipment_Demo*/
.cardsBox {
    margin: 0 70px;
    display: flex;
    justify-content: space-between;
}
.cards {
    margin: 24px 12px;
    padding: 20px 24px;
    width: calc(100% / 2);
    background-color: #f1f1f1;
    position: relative;
}
    .cards.active {
        box-shadow: -5px -5px 4px #FFCC00, 5px 5px 4px #FFCC00, -5px 5px 4px #FFCC00, 5px -5px 4px #FFCC00;
    }
.box_shadow_active {
    box-shadow: -3px -3px 3px #FFCC00, 3px 3px 3px #FFCC00, -3px 3px 3px #FFCC00, 3px -3px 3px #FFCC00;
}
.cards .cards_blocked {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.35);
}
    .cards .item .flex.row * {
        font-size: 14px;
        font-weight: 400;
        font-family: "AvantGardeCTT", sans-serif;
        width: 100%;
        padding: 2.5px;
    }
    .cards .row > div:nth-child(1) {
        max-width: 30%;
        color: rgba(68,68,68, 0.6);
    }
    .cards .row > div:not(:nth-child(1)) {
        color: #444444;
    }
    .cards .item > div:nth-child(1) {
        margin-bottom: 10px;
        font-size: 24px;
    }
    .cards .item .flex.row {
        margin-bottom: 15px;
    }
        .cards .item .flex.row .btn-red {
            max-width: 142px;
            font-size: 20px;
            padding: 0 25px;
        }
        .cards .item .flex.row textarea, .Shipments-content .SenderReceiver textarea {
            height: 50px;
            padding: 4px 16px;
            resize: none;
        }
        .cards .item .flex.row .question {
            background-color: #FFFFFF;
            padding: 0 4px;
            color: rgba(68, 68,68, 0.6);
            text-decoration: none;
            border-radius: 1px;
        }
    /* /SentShipment_Demo*/
    .text-red {
        color: #CC0202;
    }
.Shipments-btn {
    color: #FFFFFF;
    font-size: 24px;
    line-height: 29px;
    background-color: #CC0202;
    padding: 5px 10px;
}

    a.Shipments-btn, .Shipments-btn a {
        color: #FFFFFF;
        text-decoration: none;
    }
.line-indent-35 {
    margin-left: 35px;
}
.line-indent-55 {
    margin-left: 55px;
}

.pt-40 {
    padding-top: 40px;
}

.mt-25 {
    margin-top: 25px;
}

.mb-15 {
    margin-bottom: 15px;
}
.mb-35 {
    margin-bottom: 35px;
}

.mb-135 {
    margin-bottom: 135px;
}

.nav-menu-one {
    background-color: #fc0;
    /*box-shadow: 4px 3px 4px 0px rgba(0,0,0,0.25);*/
}
    .nav-menu-one .main-menu {
        justify-content: space-between;
        align-items: center;
    }
    .nav-menu-one .btn-account-ProfileBox {
        width: 400px;
        display: flex;
        justify-content: flex-end;
    }
        .nav-menu-one .btn-account-ProfileBox > .text {
            text-align: right;
            margin-top: 21px;
            margin-bottom: 18px;
            margin-right: 20px;
        }
        .nav-menu-two {
            /*box-shadow: 4px 3px 4px 0px rgba(0,0,0,0.25);*/
        }

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

header {
    flex: 0 0 auto;
}

#main {
    flex: 1 0 auto;
}

footer {
    flex: 0 0 auto;
}