
@{
    ViewBag.Title = "AllShipments";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="Shipments flex" id="main">

    <div class="Shipments-content container mb-35">

        <div class="row-box flex border-bottom-red">
            <div class="">
                <div class="container">
                    <h2 class="Shipments-title">
                        History
                    </h2>
                </div>
            </div>
        </div>

        <div class="row-box flex">
            <div class="line">
                <div>ID</div>
                <div>Date</div>
                <div>Cost</div>
                <div>Status</div>
                <div>From / To</div>
                <div></div>
            </div>
        </div>

        <a href="/SendParcel/SentShipment" class="container row-box flex link-decor-off from">
            <div class="line">
                <div>1</div>
                <div>26.02.2019</div>
                <div>532 cs</div>
                <div>Success</div>
                <div>from Michail Bulgarin</div>
                <div class="arrow-box"><div class="arrow"></div></div>
            </div>
        </a>

        <a href="/SendParcel/SentShipment" class="container row-box flex link-decor-off to">
            <div class="line">
                <div>2</div>
                <div>26.02.2019</div>
                <div>532 cs</div>
                <div>Success</div>
                <div>to Michail Bulgarin</div>
                <div class="arrow-box"><div class="arrow"></div></div>
            </div>
        </a>
        <a href="/SendParcel/SentShipment" class="container row-box flex link-decor-off to">
            <div class="line">
                <div>3</div>
                <div>26.02.2019</div>
                <div>532 cs</div>
                <div>Success</div>
                <div>to Michail Bulgarin</div>
                <div class="arrow-box"><div class="arrow"></div></div>
            </div>
        </a>

        <a href="/SendParcel/SentShipment" class="container row-box flex link-decor-off to">
            <div class="line">
                <div>4</div>
                <div>26.02.2019</div>
                <div>532 cs</div>
                <div>Success</div>
                <div>to Michail Bulgarin</div>
                <div class="arrow-box"><div class="arrow"></div></div>
            </div>
        </a>

        <a href="/SendParcel/SentShipment" class="container row-box flex link-decor-off from">
            <div class="line">
                <div>5</div>
                <div>26.02.2019</div>
                <div>532 cs</div>
                <div>Success</div>
                <div>from Michail Bulgarin</div>
                <div class="arrow-box"><div class="arrow"></div></div>
            </div>
        </a>

        <a href="/SendParcel/SentShipment" class="container row-box flex link-decor-off to">
            <div class="line">
                <div>6</div>
                <div>26.02.2019</div>
                <div>532 cs</div>
                <div>Success</div>
                <div>to Michail Bulgarin</div>
                <div class="arrow-box"><div class="arrow"></div></div>
            </div>
        </a>

        <a href="/SendParcel/SentShipment" class="container row-box flex link-decor-off from">
            <div class="line">
                <div>7</div>
                <div>26.02.2019</div>
                <div>532 cs</div>
                <div>Success</div>
                <div>from Michail Bulgarin</div>
                <div class="arrow-box"><div class="arrow"></div></div>
            </div>
        </a>

        <a href="/SendParcel/SentShipment" class="container row-box flex link-decor-off to">
            <div class="line">
                <div>8</div>
                <div>26.02.2019</div>
                <div>532 cs</div>
                <div>Success</div>
                <div>to Michail Bulgarin</div>
                <div class="arrow-box"><div class="arrow"></div></div>
            </div>
        </a>

        <a href="/SendParcel/SentShipment" class="container row-box flex link-decor-off from">
            <div class="line">
                <div>9</div>
                <div>26.02.2019</div>
                <div>532 cs</div>
                <div>Success</div>
                <div>from Michail Bulgarin</div>
                <div class="arrow-box"><div class="arrow"></div></div>
            </div>
        </a>

        <a href="/SendParcel/SentShipment" class="container row-box flex link-decor-off to">
            <div class="line">
                <div>10</div>
                <div>26.02.2019</div>
                <div>532 cs</div>
                <div>Success</div>
                <div>to Michail Bulgarin</div>
                <div class="arrow-box"><div class="arrow"></div></div>
            </div>
        </a>

        <a href="/SendParcel/SentShipment" class="container row-box flex link-decor-off from">
            <div class="line">
                <div>11</div>
                <div>26.02.2019</div>
                <div>532 cs</div>
                <div>Success</div>
                <div>from Michail Bulgarin</div>
                <div class="arrow-box"><div class="arrow"></div></div>
            </div>
        </a>

        <a href="/SendParcel/SentShipment" class="container row-box flex link-decor-off to">
            <div class="line">
                <div>12</div>
                <div>26.02.2019</div>
                <div>532 cs</div>
                <div>Success</div>
                <div>to Michail Bulgarin</div>
                <div class="arrow-box"><div class="arrow"></div></div>
            </div>
        </a>

    </div>


</section>



